.image-row {
    margin-bottom: 15px;
}

.image-wrapper {
    padding: 5px;
}

.image-wrapper img:hover {
    transform: scale(1.03);
}

.image-wrapper img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
}

.image-frame {
    display: inline-block;
    max-width: 50vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 15px 0;
}

.image-frame img {
    display: block;
    max-width: 100%;
    height: auto;
}

.input-field {
    margin-bottom: 20px;
}

.card-panel {
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10vh;
}

.image-gallery-container {
    border-radius: 15px;
    padding: 15px;
    margin: 20px 0;
}

.brand-logo {
    font-size: 1.5rem;
    padding-left: 20px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
}

.slogan {
    font-family: 'JosefinRegular', sans-serif;
    font-size: 4vh;
    pointer-events: none;
}

@media only screen and (max-width: 992px) {
    .brand-logo {
        font-size: 1.3rem;
        max-width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .brand-logo {
        font-size: 1.1rem;
        max-width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .brand-logo {
        font-size: 1rem;
        max-width: 40%;
    }
}
