* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    position: relative;
    height: 100vh;
}

.links {
    text-align: right;
}

.CUBIC {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'JosefinRegular', sans-serif;
}

.second-hr {
    margin-top: 60vh;
}

.updates {
    position: absolute;
    text-align: left;
    top: 75vh;
    font-family: 'JosefinRegular', sans-serif;
}

.a_1, .a_2, .a_3 {
    text-decoration: none;
    font-size: 25px;
    font-family: 'JosefinRegular', sans-serif;
    font-weight: 500;
}

.a_1 {
    position: relative;
    right: 150px;
}

.a_2 {
    position: relative;
    right: 115px;
}

.a_3 {
    position: relative;
    left: 30vh;
    font-size: 4vh;
}

#theme-toggle {
    position: relative;
    right: 75px;
    bottom: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.image-container-one {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 30vh;
}

.image-container-two {
    display: flex;
    justify-content: flex-start;
    margin-top: 200px; 
    margin-left: 30vh;
}

.update-image {
    width: 30vh;
    margin-right: 7vh;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5vh;
}

.update-image:last-child {
    margin-right: 0;
}

.p-update1, .p-update2, .p-update3, .p-update4 {
    position: absolute;
    margin-top: 3vh;
    font-size: 3vh;
}

.p-update1 {
    margin-left: 30vh;
}

.p-update2 {
    margin-left: 67vh;
}

.p-update3 {
    margin-left: 104vh;
}

.p-update4 {
    margin-left: 141vh;
}

.p-update1-1 {
    margin-left: 30vh;
    position: absolute;
    margin-top: 8vh;
    font-size: 2vh;
}

.p-update1-2 {
    margin-left: 30vh;
    position: absolute;
    margin-top: 11vh;
    font-size: 2vh;
}

.p-update2-1 {
    margin-left: 67vh;
    position: absolute;
    margin-top: 8vh;
    font-size: 2vh;
}

.p-update2-2 {
    margin-left: 67vh;
    position: absolute;
    margin-top: 11vh;
    font-size: 2vh;
}

.p-update3-1 {
    margin-left: 104vh;
    position: absolute;
    margin-top: 8vh;
    font-size: 2vh;
}

.p-update4-1 {
    margin-left: 141vh;
    position: absolute;
    margin-top: 8vh;
    font-size: 2vh;
}

.border-zone1 {
    margin-top: 120vh;
    margin-left: 30vh;
    font-family: 'JosefinBold', sans-serif;
    font-size: 5vh;
    width: 140vh; 
    height: 30vh; 
    border-radius: 10px; 
    border-style: solid;
    border-width: 0.5vh;
    background-color: grey; 
    position: relative;
}

.border-text1 {
    position: absolute; 
    top: 20%; left: 15%; 
    transform: translate(-50%, -50%);
}

.border-zone2 {
    margin-top: 7vh;
    margin-left: 30vh;
    font-family: 'JosefinBold', sans-serif;
    font-size: 5vh;
    width: 140vh; 
    height: 60vh; 
    border-radius: 10px; 
    background-color: grey;
    border-style: solid;
    border-width: 0.5vh; 
    position: relative;
}

.border-text2 {
    position: absolute; 
    top: 20%; 
    left: 15%; 
    transform: translate(-50%, -50%);
}

.table-footer1 {
    margin-top: 200vh;
    font-family: 'JosefinBold', sans-serif;
    font-size: 5vh;
    width: 100%; 
    height: 50vh; 
    background-color: rgb(41, 41, 41); 
    position: relative;
}

.table-footer2 {
    color: white;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vh;
}

header {
    overflow-x: hidden;
    padding-top: 20px;
}

hr {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border: none;
    height: 2px;
}

h1 {
    font-family: 'JosefinBold', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 30vh;
}

h3 {
    font-family: 'JosefinBold', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 30vh;
    font-size: 4vh;
}
