[data-theme='light'] {
  background-color: rgba(209, 234, 255, 0.671);
  color: rgb(0, 0, 0);

  a:hover {
    color: rgb(163, 255, 190);
    transition: 0.3s linear;
  }

  .nav-wrapper, #latestUpdate {
    background-color: #8eccff;
    color: black;
  }
  
  .card-panel, #youNeed {
    background-color: rgb(148, 171, 235);
    color: white;
  }
  
  .image-gallery-container {
    border: 6px solid #307cb9;
    background-color: #8eccff;
  }

  .feature-content {
    background-color: #8eccff;
  }
  
  #page-footer {
    background-color: rgb(253, 150, 90);
    color: white;
  }

  .footer-copyright {
    background-color: rgb(189, 112, 67);
  }

  #theme-toggle {
    background-color: rgb(255, 255, 255);
  }

  .card {
    background-color: #8378b3;
    color: white;
  }

}

[data-theme='dark'] {
  background-color: rgb(46, 46, 46);
  color: rgb(242, 247, 255);

  a:hover {
    color: rgba(101, 255, 109, 0.664);
    transition: 0.3s linear;
  }

  .nav-wrapper {
    background-color: #a8a8a8;
  }

  .card-panel {
    background-color: rgba(72, 77, 148, 0.664);
  }
  
  .image-gallery-container {
    border: 6px solid rgba(72, 77, 148, 0.856);
    background-color: #a8a8a8;
  }

  .slogan {
    color: rgb(242, 247, 255);
  }

  #latestUpdate {
    background-color: rgba(72, 77, 148, 0.664);
  }

  #youNeed {
    background-color: rgba(72, 77, 148, 0.664);
  }
  
  #page-footer {
    background-color: rgba(61, 126, 112, 0.945);
  }

  .footer-copyright {
    background-color: rgba(40, 99, 86, 0.945);
  }

  #theme-toggle {
    background-color: rgb(255, 255, 255);
  }

  .card {
    background-color: rgba(39, 44, 116, 0.664);
    color: white;
  }
}
