[data-theme='light'] {
  background-color: rgb(242, 247, 255);
  color: rgb(0, 0, 0);

  a:hover {
    color: rgb(255, 123, 123);
    transition: 0.3s linear;
  }

  .nav-wrapper {
    background-color: #1f9aff;
  }

  .card-panel {
    background-color: rgb(255, 123, 123);
  }

  .image-frame {
    background-color: rgb(255, 123, 123);
    border: 5px solid #ff6060;
  }

  .image-gallery-container {
    border: 6px solid #42a5f5;
    background-color: #a7d7ff;
  }

  #borderUpperImg {
    border-color: rgb(255, 123, 123);
  }

  #latestUpdate {
    background-color: #1f9aff;
  }

  #youNeed {
    background-color: rgb(255, 123, 123);
  }

  #zoneNeed1 {
    background-color: #1f9aff;
  }

  #zoneNeed2 {
    background-color: rgb(214, 214, 214);
  }

  #zoneNeed3 {
    background-color: rgb(173, 173, 173);
  }

  #page-footer {
    background-color: rgb(255, 123, 123);
  }

  .footer-copyright {
    background-color: rgb(255, 80, 80);
  }

  #theme-toggle {
    background-color: rgb(255, 255, 255);
  }

}

[data-theme='dark'] {
  background-color: rgb(46, 46, 46);
  color: rgb(242, 247, 255);

  a:hover {
    color: rgba(101, 255, 109, 0.664);
    transition: 0.3s linear;
  }

  .nav-wrapper {
    background-color: #a8a8a8;
  }

  .card-panel {
    background-color: rgba(101, 255, 109, 0.664);
  }

  .image-frame {
    background-color: rgb(255, 234, 167);
    border: 5px solid rgba(199, 154, 7, 0.822);
  }

  .image-gallery-container {
    border: 6px solid rgb(137, 255, 143);
    background-color: rgba(101, 255, 109, 0.664);
  }

  .slogan {
    color: rgb(242, 247, 255);
  }

  #borderUpperImg {
    border-color: rgba(199, 154, 7, 0.822);
  }

  #latestUpdate {
    background-color: rgba(101, 255, 109, 0.664);
  }

  #youNeed {
    background-color: rgb(255, 234, 167);
  }

  #zoneNeed1 {
    background-color: rgba(101, 255, 109, 0.664);
  }

  #zoneNeed2 {
    background-color: rgb(214, 214, 214);
  }

  #zoneNeed3 {
    background-color: rgb(173, 173, 173);
  }

  #page-footer {
    background-color: rgb(255, 211, 65);
  }

  .footer-copyright {
    background-color: rgba(199, 154, 7, 0.822);
  }

  #theme-toggle {
    background-color: rgb(255, 255, 255);
  }
}
