#theme-toggle, .brand-logo {
  font-family: 'JosefinRegular', sans-serif;
  font-size: 2vh
}

#firstBlock, #secondBlock, #thridBlock, #fourthBlock {
  height: 35vh; width: 65vh; font-size: 4vh; font-family: 'JosefinRegular'; display: flex; justify-content: center; align-items: center; border-radius: 10px; border-style: solid; border-color: rgba(255, 235, 205, 0.61);
}
